<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Todo-liste</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/login"><span class="glyphicon glyphicon-user"></span>
                        <p th:text="${username}"/>
                    Logg inn
                </a>
            </li>
        </ul>
    </div>
</nav>
<footer th:fragment="footer" class="footer">
    <div class="container">
        <p class="text-muted">IFT302 Webprogrammering - Oblig 2. Gard Marius Guldhav</p>
    </div>
</footer>
</body>
</html>