<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>

<table class="table table-striped" id="tabell">
    <!--/*@thymesVar id="todoListe" type="java.util.List<Todo>"*/-->
    <tr th:each="todo : ${todoListe}">
        <td th:text="${todo.task}"></td>
        <td th:if="${todo.completed}">
            <button class="toggle btn btn-sm btn-danger" th:value="${todo.id}" th:text="Fullført" />
        </td>
        <td th:if="!${todo.completed}">
            <button class="toggle btn btn-sm btn-success" th:value="${todo.id}" th:text="Todo  " />
        </td>
        <td>
            <button type="button" th:value="${todo.id}" class="sletteknapp btn btn-sm btn-default">
                <span class="glyphicon glyphicon-trash"></span> Slett
            </button>
        </td>
    </tr>
</table>
</body>
</html>