<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common::head">
    <title>Todo-liste</title>
</head>
<body>

<nav th:replace="fragments/common::navbar" />

<div class="modal" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Oppgave</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="id_group" class="form-group">
                    <label for="id">id:</label>
                    <input disabled="true" class="form-control form-control-sm" type="text" id="id" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="textarea">Oppgave:</label>
                    <textarea id="textarea" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="tidstopp">Start:</label>
                    <input class="form-control" type="text" id="tidstart" />
                </div>
                <div class="form-group">
                    <label for="tidstopp">Frist:</label>
                    <input class="form-control" type="text" id="tidstopp" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="lagreKnapp" class="btn btn-success">Lagre</button>
                <button type="button" id="avbrytKnapp" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="alerts"></div>
    <p>
        <span class="form-inline">
            <input autocomplete="off" id="search" class="form-control mr-sm-2" type="text" placeholder="Søk" aria-label="Search"/>
            <button id="nullstillKnapp" class="btn btn-default">Nullstill søk</button>
        </span>
    </p>

    <table class="table table-striped" id="tabell">
        <tr>
            <th>Oppgave</th>
            <th>Status</th>
            <th>Start</th>
            <th>Frist</th>
            <th>Handling</th>
        </tr>
        <tbody id="personlist">
            <tr>
                <td id="oppgave"></td>
                <td id="status"></td>
                <td id="start"></td>
                <td id="stopp"></td>
                <td id="handling"></td>
            </tr>
        </tbody>

    </table>
    <p class="text-muted" id="treff"></p>
    <button class="btn btn-primary" data-toggle="modal" data-target="#modal" id="nyknapp">Ny oppgave</button>
</div>

<footer th:replace="fragments/common::footer"/>

<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>

<script src="/js/app.js"></script>

</body>
</html>