<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head">
    <meta charset="UTF-8"/>
    <title>Logg inn</title>
</head>
<body>

<nav th:replace="fragments/common :: navbar" />

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <h1 class="text-center login-title">Logg inn</h1>
            <p th:if="${loginError}" class="error">Wrong user or password</p>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>:
                    <input class="form-control" type="text" id="username" name="username" autofocus="autofocus" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>:
                    <input class="form-control" type="password" id="password" name="password" />
                </div>
                <div class="form-group">
                    <input class="btn btn-default" type="submit" value="Log in" />
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="fragments/common :: footer" />

</body>
</html>